BasedOnStyle: Chromium

ColumnLimit: 100
InsertNewlineAtEOF: true
AllowShortIfStatementsOnASingleLine: WithoutElse
WrapNamespaceBodyWithEmptyLines: Always
SeparateDefinitionBlocks: Always

# Local includes, then CCCL libraries, then 3rd party libraries, then standard library
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<(cuda|thrust|cub)/?.*>'
    Priority: 2
  - Regex: '^<(glm|stb|GL|GLFW|tiny_gltf)/?.*>'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 4